/*
 * Editor.md
 *
 * @苏城一只猫 属性修复
 *
 */

.markdown-body h2 {
    padding: 0 0 0.3em 0!important;
    margin: inherit!important;
    font-size: 1.75em!important;
    line-height: 1.225!important;
    border-bottom: 1px solid #eee;
}

.editormd-fullscreen {
    z-index: 99999;
}

.editormd-dialog-container {
    padding: 19px!important;
}