{
  "presets": [
    [
      "babel-preset-env",
      {
        "useBuiltIns": "usage"
      }
    ]
  ],
  "ignore": [
    "assets/CodeMirror/addon/*/*.js",
    "assets/CodeMirror/mode/*/*.js"
  ],
  "plugins": ["transform-runtime"]
}