.modal {
    display: none;
    background: rgba(0, 0, 0, .30);
    z-index: 999;
}

.modal .modal-dialog {
    position: relative;
    margin: 30px auto;
    width: 1100px;
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
            box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}